<ion-item lines="inset">
  <ion-label position="stacked">Text:</ion-label>
  <ion-textarea [(ngModel)]="text" rows="2"></ion-textarea>
</ion-item>
<ion-toolbar>
  <ion-button (click)="modal.dismiss(text)" slot="end" fill="outline" color="success">
    <ion-icon name="checkmark"></ion-icon>
  </ion-button>
  <ion-button (click)="modal.dismiss()" fill="outline" color="danger">
    <ion-label>Dismiss</ion-label>
  </ion-button>
</ion-toolbar>
