<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="addTodoItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-content>
      <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let item of todoList">
          <ion-reorder slot="start"><ion-icon name="menu"></ion-icon></ion-reorder>
          <ion-buttons>
            <ion-button (click)="markDone(item.id)" slot="icon-only">
              <ion-icon [color]="item.attributes.done ? 'success' : 'medium'" name="checkmark"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>{{ item.attributes.subject }}</ion-label>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>Created at: {{ item.attributes.created_at | date:'short' }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Updated at: {{ item.attributes.updated_at | date:'short' }}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Done at: {{ item.attributes.done_at | date:'short' }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-buttons slot="end">
            <ion-button (click)="editItem(item)" slot="icon-only">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteItem(item)" slot="icon-only">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-reorder-group>
    </ion-card-content>
  </ion-card>
</ion-content>
